<div class="thumb fav-list" id="{{id}}"/>
<li class="fav-list-item" id="{{id}}">
      <span class="fav-list-name" id="{{id}}">{{name}}</span> 
</li>
<span id="{{id}}" class="cross-icon"></span>       
</div>
