<div class="modal-main-container">
  <img src="{{img}}">
  <span>{{name}}</span>
  <div>{{description}}</div>
  <span class="star-icon"></span>
  <span>{{year}}</span>
  <p >
    {{!-- {{#each}}
    <span>{{genres}}</span>
      {{/each}} --}}
  </p>

  <span>Director</span> : <span>{{director}}</span>
  <div>
    <span>Starring</span>
    {{!-- {{#each}}
    <span>{{starring}}</span>
      {{/each}} --}}
  </div>
</div>