<div class="modal-container" >
  <span class="star-icon modal-icon" id="{{id}}"></span>
  <span class="close-icon modal-icon"></span>

<div class="img-cover">
  <img class="modal-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}"/>
</div>
  <span class="modal-name" id="{{id}}">{{title}}</span>
  <div>{{overview}}</div>
  
  <span>{{release_date}}</span>
  <p >
    {{#each genres}}
    <span>{{this}}</span>
      {{/each}}
  </p>

  <span>Director</span> : <span>{{director}}</span>
  <div>
    <span>Starring:</span>
    {{#each starring}}
    <span>{{this}}</span>
      {{/each}}
  </div>
</div>