<div class="modal-container" >
  <span class="star-icon modal-icon" id="{{id}}"></span>
  <img src="{{img}}"/>
  <span class="modal-name" id="{{id}}">{{name}}</span>
  <div>{{description}}</div>
  
  <span>{{year}}</span>
  <p >
    {{#each genres}}
    <span>{{this}}</span>
      {{/each}}
  </p>

  <span>Director</span> : <span>{{director}}</span>
  <div>
    <span>Starring</span>
    {{#each starring}}
    <span>{{this}}</span>
      {{/each}}
  </div>
</div>