{{#each this}}
<li data-action='{{id}}'>
    <div class="movie-card">
        <img src="{{img}}" data-source="{{img}}"/>
    <p class="card__text">
      <span> {{name}}</span> 
      <span>{{year}}</span>
   </p>
    </div>
</li>
{{/each}}